.box{
    width:100px;
    height:100px;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.locate{                /*fixed해도 absolute랑 결과가 같은데, 둘의 차이가 뭔가.  fixed하면 스크롤로 내려도 그냥 쭉 그위치에 있는것이다. */
    position:absolute;  /*relative는 내가 있는위치에서 움직이는 것.  absolute는 부모기준 절대값 기준으로 움직임*/
    left:30px;          /*margin-left와 달라. 왼쪽에 공간을 만드는거야.  근데 다른요소는 가만히 있어*/
    top:30px            /*margin-left면 다른요소들도 같이 밀리는데 말이야*/
}